#map,
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#panel {
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    float: right;
    margin: 10px;
    display: none
}

#color-palette {
    clear: both;
}

.color-button {
    width: 14px;
    height: 14px;
    font-size: 0;
    margin: 2px;
    float: left;
}

#delete-button {
    margin-top: 5px;
}

.button-maps {
    float: left;
    line-height: 0;
    display: none;
    margin-bottom: 5px;
    margin-left: -6px;
}

.button-maps div span {
    display: inline-block;
}

.button-maps div span div {
    width: 16px; 
    height: 16px; 
    overflow: hidden; 
    position: relative;
}

.button-maps div span div img {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    user-select: none; 
    border: 0px; 
    padding: 0px; 
    margin: 0px; 
    max-width: none; 
    width: 16px; 
    height: 16px;
}

.drawing-color{
    direction: ltr; 
    overflow: hidden; 
    text-align: left; 
    position: relative; 
    color: rgb(86, 86, 86); 
    font-family: Roboto, Arial, sans-serif; 
    user-select: none; font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 4px; 
    border-bottom-right-radius: 2px; 
    border-top-right-radius: 2px; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
    border-left: 0px;
}

.drawing-color span{
    display: inline-block;
}

.img-wheel-color{
    position: absolute; 
    left: 0px; 
    top: 0px; 
    user-select: none; 
    border: 0px; 
    padding: 0px; 
    margin: 0px; 
    max-width: none; 
    width: 16px; 
    height: 16px;
}

.img-container{
    width: 16px; 
    height: 16px; 
    overflow: hidden; 
    position: relative;
}